body
{
  color: white;
  background:#a6f0a3;
  height: 800px;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: 25px;
  border-radius: 10px;
  letter-spacing: 5px;
  background-color: #ede08c;
  height: 85px;
  width: 500px;
  padding: 10px;

}

label{

  font-size: 18px;
  color:#0fa68f;
  padding: 6px;
  border-radius: 10px;
  text-decoration: underline;

}